# CACHE & SENSITIVE FILES (Keep these ignored)
/.phpunit.cache
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea

# LOGS (Keep these ignored)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# NODE MODULES (Definitely keep this ignored)
/node_modules

# VENDOR & BUILD ASSETS (These were the problem)
# You need to commit these folders for a direct Git deployment.
# /public/build
# /vendor

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/*.code-snippets
!.vscode/tours
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.yarn

# iconify dist files
resources/js/plugins/iconify/icons.css

# Ignore MSW script
public/mockServiceWorker.js

# Env files - This is the correct way to ignore all .env files except the example
.env*
!.env.example
